(defwire main-wire
  123 = .limit
  1 >= .t >= .a
  0 >= .count

  (Repeat
   (-> 0 > .count
       (Math.Inc .a)
       .t (Math.Add .a) > .t
       (ForRange
        1 .t
        (When
         (-> >= .i .t (Math.Mod .i) (Is 0))
         (Math.Inc .count))))
   :Forever true
   :Until (-> .count (IsMore .limit)))

  .t (Assert.Is 157080 true)
  (Log "Answer"))

(defmesh root)
(schedule root main-wire)
(run root)
