(defwire main-wire
  20 = .max
  1 >= .result

  (ForRange
   1 .max
   (-> >= .n
       .result >= .previous
       (When
        (-> .result (Math.Mod .n) (IsMore 0))
        (Repeat
         (-> .result (Math.Add .previous) > .result)
         :Forever true
         :Until (-> .result (Math.Mod .n) (Is 0))))))

  .result (Assert.Is 232792560 true)
  (Log "Answer"))

(defmesh root)
(schedule root main-wire)
(run root)
