(defn reverse []
  (-> >= .n
      0 >= .reversed

      (Repeat
       (-> .n (Math.Mod 10) >= .mod
           .reversed (Math.Multiply 10) (Math.Add .mod) > .reversed
           .n (Math.Divide 10) > .n)
       :Forever true
       :Until (-> .n (Is 0)))
      .reversed))

(defn isPalindrome [n]
  (-> n (reverse) (Is n)))

(defwire main-wire
  0 >= .largest
  0 >= .a >= .b >= .db >= .ab

  (ForRange
   999 100
   (-> > .a
       (If (-> .a (Math.Mod 11) (Is 0))
           :Then (-> 999 > .b 1 > .db)
           :Else (-> 990 > .b 11 > .db))
       (Repeat
        (-> .a (Math.Multiply .b) > .ab
            (When
             (-> (isPalindrome .ab))
             (-> .ab > .largest))
            .b (Math.Subtract .db) > .b)
        :Forever true
        :Until (-> .b (IsLess .a) (Or) .ab (IsLess .largest)))))

  .largest (Assert.Is 906609 true)
  (Log "Answer"))

(defmesh root)
(schedule root main-wire)
(run root)
